<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Web chat</title>
        <link rel="stylesheet" href="~/css/layout.css"/>
        <link rel="stylesheet" href="~/lib/icon/fontawesome-free-6.0.0-web/css/all.css">
    </head>
    <body>
        <header>          
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
        </footer>
    </body>
</html>

<!-- link scripts -->
<script src="~/js/layout/ramdomBackground.js"></script>
<script src="~/js/layout/layout.js"></script>