@{
    Layout = "../Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/home.css"/>
<div class="body">
    <div class="body__main">
        <div class="body-left">
            <div class="body-left__head">
                <img class="avatar" src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.30497-1/84628273_176159830277856_972693363922829312_n.jpg?stp=c15.0.50.50a_cp0_dst-jpg_p50x50&_nc_cat=1&ccb=1-5&_nc_sid=12b3be&_nc_ohc=mXSVjyx-MnoAX_gAjnU&_nc_ht=scontent.fhan14-2.fna&edm=AP4hL3IEAAAA&oh=00_AT9KSVvPavEIVn8nx75lC03QJK11ioBmWcJpgV1Md7toNw&oe=6241ED99">
                <div class="name-area">
                    <p class="name">Demo Person</p>
                    <p class="status">
                        <i class="fa-solid fa-circle"></i>
                        Trực tuyến
                    </p>
                    <div class="status-menu">
                        <button type="button" name="online">
                            <i class="fa-solid fa-circle  icon-status--green"></i>
                            <span>Trực tuyến</span>
                        </button>
                        <button type="button" name="offline">
                            <i class="fa-solid fa-moon  icon-status--yellow"></i>
                            <span>Tạm vắng</span>
                        </button>
                        <button type="button" name="verybusy">
                            <i class="fa-solid fa-circle-minus  icon-status--red"></i>
                            <span>Rất bận</span>
                        </button>
                    </div>
                </div>
                <button class="menu-button">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
            </div>
            <div class="body-left__search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Nhập nội dung tìm kiếm...">
                <p class="line"></p>
            </div>
            <div class="body-left__conversations">
                <div class="conversation-item">
                    <div class="avatar-area">
                        <img class="avatar" src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.30497-1/84628273_176159830277856_972693363922829312_n.jpg?stp=c15.0.50.50a_cp0_dst-jpg_p50x50&_nc_cat=1&ccb=1-5&_nc_sid=12b3be&_nc_ohc=mXSVjyx-MnoAX_gAjnU&_nc_ht=scontent.fhan14-2.fna&edm=AP4hL3IEAAAA&oh=00_AT9KSVvPavEIVn8nx75lC03QJK11ioBmWcJpgV1Md7toNw&oe=6241ED99">
                        <i class="fa-solid fa-circle icon-status--green"></i>
                    </div>
                    <div class="info-area">
                        <p class="name">Demo User</p>
                        <p class="last-mes">Xin chào asdasdasdasdasdsadsadasd</p>
                    </div>
                    <div class="status-area">
                        <p class="time">
                            <i class="fa-solid fa-check"></i>
                            <span>11:45 PM</span>
                        </p>
                        <i class="fa-solid fa-circle">
                            <span>1</span>
                        </i>
                    </div>             
                </div>
                <div class="conversation-item">
                    <div class="avatar-area">
                        <img class="avatar" src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.30497-1/84628273_176159830277856_972693363922829312_n.jpg?stp=c15.0.50.50a_cp0_dst-jpg_p50x50&_nc_cat=1&ccb=1-5&_nc_sid=12b3be&_nc_ohc=mXSVjyx-MnoAX_gAjnU&_nc_ht=scontent.fhan14-2.fna&edm=AP4hL3IEAAAA&oh=00_AT9KSVvPavEIVn8nx75lC03QJK11ioBmWcJpgV1Md7toNw&oe=6241ED99">
                        <i class="fa-solid fa-circle icon-status--green"></i>
                    </div>
                    <div class="info-area">
                        <p class="name">Demo User</p>
                        <p class="last-mes">Xin chào asdasdasdasdasdsadsadasd</p>
                    </div>
                    <div class="status-area">
                        <p class="time">
                            <i class="fa-solid fa-check"></i>
                            <span>11:45 PM</span>
                        </p>
                        <i class="fa-solid fa-circle">
                            <span>1</span>
                        </i>
                    </div>             
                </div>
                <div class="conversation-item">
                    <div class="avatar-area">
                        <img class="avatar" src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.30497-1/84628273_176159830277856_972693363922829312_n.jpg?stp=c15.0.50.50a_cp0_dst-jpg_p50x50&_nc_cat=1&ccb=1-5&_nc_sid=12b3be&_nc_ohc=mXSVjyx-MnoAX_gAjnU&_nc_ht=scontent.fhan14-2.fna&edm=AP4hL3IEAAAA&oh=00_AT9KSVvPavEIVn8nx75lC03QJK11ioBmWcJpgV1Md7toNw&oe=6241ED99">
                        <i class="fa-solid fa-circle icon-status--green"></i>
                    </div>
                    <div class="info-area">
                        <p class="name">Demo User</p>
                        <p class="last-mes">Xin chào asdasdasdasdasdsadsadasd</p>
                    </div>
                    <div class="status-area">
                        <p class="time">
                            <i class="fa-solid fa-check"></i>
                            <span>11:45 PM</span>
                        </p>
                        <i class="fa-solid fa-circle">
                            <span>1</span>
                        </i>
                    </div>             
                </div>
                <div class="conversation-item">
                    <div class="avatar-area">
                        <img class="avatar" src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.30497-1/84628273_176159830277856_972693363922829312_n.jpg?stp=c15.0.50.50a_cp0_dst-jpg_p50x50&_nc_cat=1&ccb=1-5&_nc_sid=12b3be&_nc_ohc=mXSVjyx-MnoAX_gAjnU&_nc_ht=scontent.fhan14-2.fna&edm=AP4hL3IEAAAA&oh=00_AT9KSVvPavEIVn8nx75lC03QJK11ioBmWcJpgV1Md7toNw&oe=6241ED99">
                        <i class="fa-solid fa-circle icon-status--green"></i>
                    </div>
                    <div class="info-area">
                        <p class="name">Demo User</p>
                        <p class="last-mes">Xin chào asdasdasdasdasdsadsadasd</p>
                    </div>
                    <div class="status-area">
                        <p class="time">
                            <i class="fa-solid fa-check"></i>
                            <span>11:45 PM</span>
                        </p>
                        <i class="fa-solid fa-circle">
                            <span>1</span>
                        </i>
                    </div>             
                </div>
                <div class="conversation-item">
                    <div class="avatar-area">
                        <img class="avatar" src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.30497-1/84628273_176159830277856_972693363922829312_n.jpg?stp=c15.0.50.50a_cp0_dst-jpg_p50x50&_nc_cat=1&ccb=1-5&_nc_sid=12b3be&_nc_ohc=mXSVjyx-MnoAX_gAjnU&_nc_ht=scontent.fhan14-2.fna&edm=AP4hL3IEAAAA&oh=00_AT9KSVvPavEIVn8nx75lC03QJK11ioBmWcJpgV1Md7toNw&oe=6241ED99">
                        <i class="fa-solid fa-moon icon-status--yellow"></i>
                    </div>
                    <div class="info-area">
                        <p class="name">Demo User</p>
                        <p class="last-mes">Xin chào</p>
                    </div>
                    <div class="status-area">
                        <p class="time">
                            <i class="fa-solid fa-check"></i>
                            <span>11:45 PM</span>
                        </p>
                        <i class="fa-solid fa-circle">
                            <span>1</span>
                        </i>
                    </div>                
                </div>
                <div class="conversation-item">
                    <div class="avatar-area">
                        <img class="avatar" src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.30497-1/84628273_176159830277856_972693363922829312_n.jpg?stp=c15.0.50.50a_cp0_dst-jpg_p50x50&_nc_cat=1&ccb=1-5&_nc_sid=12b3be&_nc_ohc=mXSVjyx-MnoAX_gAjnU&_nc_ht=scontent.fhan14-2.fna&edm=AP4hL3IEAAAA&oh=00_AT9KSVvPavEIVn8nx75lC03QJK11ioBmWcJpgV1Md7toNw&oe=6241ED99">
                        <i class="fa-solid fa-circle-minus icon-status--red"></i>
                    </div>
                    <div class="info-area">
                        <p class="name">Demo User</p>
                        <p class="last-mes">Xin chào</p>
                    </div>
                    <div class="status-area">
                        <p class="time">
                            <i class="fa-solid fa-check"></i>
                            <span>Vừa xong</span>
                        </p>
                        <i class="fa-solid fa-circle">
                            <span>1</span>
                        </i>
                    </div>                
                </div>
            </div>
        </div>
        <div class="body-right">
            
        </div>
    </div>
</div>
