@{
    Layout = "../Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/home.css"/>
<div class="body">
    <div class="body__main">
        <div class="body-left">
            <div class="body-left__head">
                <img class="avatar">
                <div class="name-area">
                    <p class="name">Demo Person</p>
                    <p class="status">Trực tuyến</p>
                    <div class="status-menu">
                        <button type="button" name="online">Trực tuyến</button>
                        <button type="button" name="offine">Tạm vắng</button>
                        <button type="button" name="verybusy">Rất bận</button>
                    </div>
                </div>
                <button class="menu-button">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
            </div>
        </div>
        <div class="body-right">

        </div>
    </div>
</div>
