.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    min-height: 100%;
}
.body > .title{
    margin-bottom: 30px;
    font-size: 42px;
    font-weight: lighter;
    opacity: .9;
    cursor: default;
}
.body > .body__main{
    position: relative;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body > .body__main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: black;
    opacity: .6;
    z-index: -1000;
}
.body > .body__main .title{
    font-size: 28px;
    margin: 20px 0px;
}
.body > .body__main .title-2{
    font-size: 17.5px;
    margin: 15px 0px;
}
.body > .body__main .other-login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.body > .body__main .other-login > div{
    padding: 7px 45px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 15.5px;
}
.body > .body__main .other-login > div:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
}
.body > .body__main .other-login > div:hover > a{
    color: black;
}
.body > .body__main .other-login > div > i{
    margin-right: 10px;
}

.body > .body__main .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body > .body__main .login-form > .login-form__row{
    margin-bottom: 20px;
    min-width: 450px;
    display: flex;
    position: relative;
}
.body > .body__main .login-form > .login-form__row--normal::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5c5c5c;
    opacity: .5;
    z-index: -900;
}
.body > .body__main .login-form > .login-form__row > input[type='text'], input[type='password']{
    width: 100%;
    padding: 10px 15px;
    border: 0px;
    outline: none;
    color: white;
    background-color: transparent;
    font-size: 15.5px;
}
.body > .body__main .login-form > .login-form__row > input[type='text']::placeholder, input[type='password']::placeholder{
    color: white;
    opacity: .6;
}
.body > .body__main .login-form > .login-form__row--custom{
    justify-content: space-between;
    align-items: center;
}
.body > .body__main .login-form > .login-form__row--custom > div{
    font-size: 15px;
    display: flex;
    align-items: center;
}
.body > .body__main .login-form > .login-form__row--custom > div:first-child > input[type='checkbox']{
    cursor: pointer;
    width: 0px;
    height: 15px;
    margin-right: 25px;
    position: relative;
    outline: none;
    transform: translateX(2px);
}
.body > .body__main .login-form > .login-form__row--custom > div:first-child > input[type='checkbox']:before{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid green;
}
.body > .body__main .login-form > .login-form__row--custom > div:first-child > input[type='checkbox']:checked:before{
    content: "";
    background-color: green;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 15px;
    height: 15px;
    border: 2px solid green;
}
.body > .body__main .login-form > .login-form__row--custom > div:last-child > a{
    cursor: pointer;
}
.body > .body__main .login-form > .login-form__row--custom > div:last-child > a:hover{
    color: rgb(170, 170, 170);
    transition: all .3s;
}
.body > .body__main .login-form .loading{
    width: 38px;
    margin-bottom: 10px;
}
.body > .body__main .login-form > button[type='button']{
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    background-color: green;
    outline: none;
    border: none;
    color: white;
    font-size: 15.5px;
    margin-bottom: 15px;
}
.body > .body__main .login-form > button[name='login']{
    margin-bottom: 10px;
}
.body > .body__main .login-form > button[type='button']:hover{
    opacity: .8;
    transition: all .3s;
}