.main-video{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.main__video-call{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.main__video-call > .call-time{
    margin-top: 18px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    z-index: 2;
}
.main__video-call > .call-time::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
    opacity: .15;
    border-radius: 5px;
}
.main__video-call > .call-time > i{
    margin-right: 7px;
    color: transparent;
    font-size: 15px;
    background: linear-gradient(0deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-clip: text;
    -webkit-background-clip: text;
    animation: record-ani 2.5s linear infinite;
}
@keyframes record-ani {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
.main__video-call > .call-time > span{
    color: white;
    font-size: 14.5px;
}
.main__video-call > video.otherVideo{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 5px;
}
.main__video-call > video.myVideo{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 200px;
    height: 150px;
    border-radius: 5px;
}
.main__video-call > .controls-main{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    margin-bottom: 18px;
}
.main__video-call > .controls-main > .volume__bar{
    position: absolute;
    left: 0;
    bottom: 0;
}
.main__video-call > .controls-main > .volume__bar > .volume{
    display: flex;
    transform-origin: 0% 0%;
    transform: rotateZ(-90deg) translateX(-31.5px);
    padding: 12px 16px;
    position: relative;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
}
.main__video-call > .controls-main > .volume__bar > .volume::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .15;
    z-index: -1;
    border-radius: 30px;
}
.main__video-call > .controls-main > .volume__bar > .volume > input[type="range"]{
    cursor: pointer;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 3.5px;
    border-radius: 10px;
}
.main__video-call > .controls-main > .volume__bar > .volume > input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 50%;
}
.main__video-call > .controls-main > .volume__bar > .volume > i{
    color: white;
    font-size: 16px;
    width: 20px;
    height: 16px;
    transform: rotateZ(90deg);
    margin-right: 7px;
    cursor: pointer;
}
.main__video-call > .controls-main > .controls-main__control{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.main__video-call > .controls-main > .controls-main__control > button{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    width: 45px;
    height: 45px;
    color: white;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__video-call > .controls-main > .controls-main__control > button[name='stop']{
    width: 62px;
    height: 62px;
}
.main__video-call > .controls-main > .controls-main__control > button:not(:last-child){
    margin-right: 8px;
}
.main__video-call > .controls-main > .controls-main__control > button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
    opacity: .15;
    border-radius: 50%;
}
.main__video-call > .controls-main > .controls-main__control > button[name='stop']::after{
    border-radius: 37%;
    background-color: #ff0062;
    opacity: 1;
}
.main__video-call > .controls-main > .controls-main__control > button:hover::after{
    opacity: .3;
}
.main__video-call > .controls-main > .controls-main__control > button[name='stop']:hover::after{
    background-color: rgb(207, 0, 79);
    opacity: 1;
}
