*{
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body{
  height: 100%;
}
main{
  height: 100%;
}
#message-popup{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#message-popup::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .5;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#message-popup .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 250px;
  padding: 20px 10px;
  border-radius: 3px;
  z-index: 11;
}
#message-popup .container > img{
  margin-bottom: 15px;
  width: 100px;
  border-radius: 50%;
}
#message-popup .container > .container__loading > i{
  font-size: 24px;
  color: rgb(75, 75, 75);
  animation: ani-loadding 2s ease infinite;
}
@keyframes ani-loadding {
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}
#message-popup .container > .title{
  font-size: 22px;
  font-weight: bold;
  color: rgb(148, 148, 148);
}
#message-popup .container > .content{
  margin: 20px 0px;
  font-size: 16px;
  max-width: 250px;
  text-align: center;
  color: rgb(124, 124, 124);
}
#message-popup .container > .buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#message-popup .container > .buttons > button{
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 3px;
  background-color: green;
  color: white;
  opacity: .8;
}
#message-popup .container > .buttons > button:hover{
  opacity: 1;
  transition: all .3s;
}
#message-popup .container > .buttons > .button--gray{
  background-color: rgb(148, 148, 148);
}
